* {
  margin: 0;
  box-sizing: border-box;
}

/*------------------------------------------------------*/

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin: 0 0 5px;
}

.product-card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

/*------------------------------------------------------*/

nav {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  padding: 45px;
}

.nav-header h1 {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-header a {
  text-decoration: none;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.2rem;
}

.cart-icon a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
