* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/*------------------------------------------------------*/

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding: 0 100px; /* Adjusted padding for responsiveness */
  justify-content: center;
}

.product-card {
  padding: 10px;
  width: 100%; /* Full width on smaller screens, adjust for larger screens */
  max-width: 300px; /* Limit width for larger screens */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 100%; /* Maintain aspect ratio */
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin: 0 0 5px;
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
  white-space: nowrap; /* Prevent wrapping onto multiple lines */
}

.product-card p {
  font-size: 16px;
  color: #333;
}

.quantity-controls {
  display: flex;
  justify-content: left;
  margin: 10px 0;
}

.quantity-controls button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 0;
  transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
  background-color: #0056b3;
}

.quantity-controls input {
  width: 50px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart-button {
  --border-radius: 30px;
  --border-width: 3px;

  width: 100%; /* Full width on smaller screens */
  max-width: 125px; /* Limit width for larger screens */
  height: 30px; /* Adjusted height for better visibility */
  position: relative;
  border: 0;
  margin-bottom: 15px;
  background-color: transparent;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center; /* Horizontally center text */
  align-items: center; /* Vertically center text */
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 10px;
}

.add-to-cart-button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );

  mask-image: var(--m-i), var(--m-i);
  mask-origin: var(--m-o);
  mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;

  filter: hue-rotate(0);
  animation: hue linear 500ms infinite;
  animation-play-state: paused;
}

.add-to-cart-button:hover::after {
  animation-play-state: running;
}

@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}

/*------------------------------------------------------*/

nav {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px; /* Adjusted padding for responsiveness */
  justify-content: space-between; /* Ensure elements are spaced apart */
  align-items: center; /* Center items vertically */
}

.nav-header h1 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  padding: 0;
}

.nav-header a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1rem; /* Adjusted font size for smaller screens */
}

.nav-links a:hover {
  text-decoration: underline;
}

.cart-icon {
  position: relative;
}

.cart-icon a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-out;
}

.cart-icon a:hover {
  transform: scale(1.1);
}

.cart-icon .cart-quantity {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1;
  min-width: 20px;
  text-align: center;
}

/*------------------------------------------------------*/

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  margin-top: -100px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.home-page h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.shop-now-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  color: white;
  background-color: #ff6347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-now-button:hover {
  background-color: #ff4500;
}
